# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [2]:
text = "Hello"
number = 100
bool_value = True
float_value = 20.5

print(text,number,bool_value,float_value)

Hello 100 True 20.5

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [8]:
print("-".join([str(text),str(number),str(bool_value),str(float_value)]))

Hello-100-True-20.5

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [21]:
print(text, end=" ")
print(number, end=" ")
print(bool_value, end=" ")
print(float_value, end=" ")

Hello 100 True 20.5

4) Can a python print function take no value to print???

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [43]:
friend_name = "Hammad"
friend_age = 30
profession = "lawyer"
qualification = "bachelour"
quali_field = "Law"
degree_completion_year = 2005
working_company_name = "The himalya Associates"
work_starting_date = 2015
height = 5.10
weight = "70600"
monthly_income = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [24]:
current_year = 2024
Total_years = current_year - degree_completion_year
print(Total_years)

19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [25]:
total_working_years = current_year - work_starting_date
print(total_working_years)

9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [34]:
dollar_exchange_rate = 280
income_in_dollars = monthly_income / dollar_exchange_rate

print(income_in_dollars,"$")

714.2857142857143 $

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [37]:
int(income_in_dollars)

714

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [50]:
print(type(weight))
weight = int(weight)
weight_in_kg = weight//100
print(type(weight_in_kg))

<class 'int'>
<class 'int'>

In [1]:
#11) print the year of birth of Mr. Ahmed.

In [52]:
current_year = 2024
birth_year = current_year - friend_age
print(birth_year)

1994

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [3]:
10%2
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2

0

In [53]:
100%6

4